# 忽略Python编译生成的字节码文件
__pycache__/
*.pyc
*.pyo
*.pyd

# 如果使用了virtualenv，也可以忽略虚拟环境目录
venv/
.env/

# 忽略IDE设置（以VS Code为例）
.vscode/

# 忽略操作系统生成的文件
.DS_Store # macOS
Thumbs.db # Windows

# 其他常见临时文件或日志
*.tmp
*.temp
